.article {
  position: relative;
  &-cover {
    width: 870px;
    height: 490px;
    object-fit: fill;
    border-radius: 10px;
    cursor: pointer;
  }
  &-title {
    position: absolute;
    cursor: pointer;
    top: 470px;
    left: 20px;
    transform: translateY(-100%);
    z-index: 1000;
    color: #ffffff;
  }
  &-info {
    margin: 10px 0;
    &-item {
      display: flex;
      align-items: center;
    }
    &-date {
      display: inline-block;
      color: #ff4e6a;
      min-width: 50px;
      border-radius: 20px;
      padding: 10px 18px;
      background: rgba(255,78,106,.1);
    }
    &-tag {
      display: inline-block;
      color: #ff741e;
      min-width: 50px;
      border-radius: 20px;
      padding: 10px 18px;
      background: rgba(255,116,30,.1);
      margin: 0 10px;
    }
    &-time {
      display: inline-block;
      color: #ffb900;
      min-width: 50px;
      border-radius: 20px;
      padding: 10px 18px;
      background: rgba(255,185,0,.1);
    }
  }
  &-summariz {
    margin-bottom: 25px;
    color: #444444;
    font-size: 16px;
    font-weight: 500;
  }
}